@use '../variables';

.menu {
  margin-left: auto;
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 14px;
  }

  &__item,
  &__item a {
    font-size: 1.8rem;
    line-height: 100%;
    letter-spacing: variables.$small-letter-spacing;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
    color: variables.$text-color;
    cursor: pointer;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    white-space: nowrap;
  }
}