@use '../variables';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: variables.$base-font-size;
}

h3 {
  font-family: 'TRYGrtsk', Arial, sans-serif;
  font-weight: 500;
  font-size: 5.2rem;
  line-height: 90%;
  padding: 0;
  margin: 0;
  letter-spacing: variables.$big-letter-spacing;
}

.page {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  min-width: 320px;
  background-color: #ECECEC;
  font-family: 'TRYGrtsk', Arial, sans-serif;
  font-weight: 500;
  color: variables.$text-color;
  &__main {
    width: 100%;
  }

}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  &__item {
    color: variables.$block-color;
    font-size: 1.8rem;
    line-height: 100%;
    text-decoration: none;
    &.active {
      color: variables.$text-color;
    }
  }
}

.mouse-area {
  position: absolute;
  width: 100%;
  height: 100%;
}

.floating-img {
  position: absolute;
  object-fit: cover;
  pointer-events: none;
  transition: transform 0.2s ease-out;
}

.full-screen-anim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.grid-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.grid-item {
  background-color: variables.$block-color;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}