@use '../variables';

.tg-section {
  width: 100%;
  min-height: 320px;
  background: linear-gradient(270deg, #000000 0%, #B5B5B5 12.5%, #FFFFFF 25%, #B5B5B5 37.5%, #000000 50%, #B5B5B5 62.5%, #FFFFFF 75%, #B5B5B5 87.5%, #000000 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  &__string {
    color: variables.$base-white;
    font-size: 5.2rem;
    line-height: 90%;
    font-weight: 500;
    letter-spacing: -0.05rem;
    display: flex;
    white-space: nowrap;
    box-sizing: border-box;
    min-width: 100%;
    gap: 1rem;
    padding: 0.55rem 0 1.05rem;

    &-wrapper {
      background-color: variables.$text-color;
      display: flex;
      align-items: center;
    }
    &_marquee_01 {
      width: fit-content;
      animation: scroll 20s linear infinite;
      -webkit-transform-style: preserve-3d;

      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-50% - 1rem));
        }
      }
    }

  }
}