@font-face {
  font-family: 'TRYGrtsk';
  src: 
    url('../assets/fonts/TRYGrtsk-Medium.woff') format('woff'),
    url('../assets/fonts/TRYGrtsk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TRYGrtsk';
  src: 
    url('../assets/fonts/TRYGrtsk-Regular.woff') format('woff'),
    url('../assets/fonts/TRYGrtsk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TRYGrtsk';
  src: 
    url('../assets/fonts/TRYGrtsk-SemiBold.woff') format('woff'),
    url('../assets/fonts/TRYGrtsk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}